
<div class="container">
<div class="layout-one-col">
<div> 
        <h2> FORMULÁRIO 2 | Site</h2>
</div>
<div>
<form action="./orcamento" method="post">
        <input type="hidden" name="codForm" value="plataforma-site">
        <input type="radio" id="" name="site" value="wp-theme" checked>
        <label for="Site">WP Theme</label><br>
        <input type="radio" id="" name="site" value="wp-custom">
        <label for="Loja">WP Custom</label><br>
        <input type="radio" id="" name="site" value="custom-advanced">
        <label for="Landing">Custom Advanced</label><br><br>
        <button type="submit" name="submited">continuar <i class="fa-solid fa-arrow-right"></i></button>
</form>
</div>
</div>
</div>

