<div class="container">
<div class="layout-one-col">
<div> 
        <h2>QUANTAS PÁGINAS PRETENDE PARA SEU SITE</h2>
</div>
<div>

<form action="./orcamento" method="post">
        <input type="hidden" name="codForm" value="site-num-pgs">
        <input type="radio" id="" name="sitepage" value="onepage" checked>
        <label for="Site">One Page</label><br>
        <input type="radio" id="" name="sitepage" value="sixpage">
        <label for="Loja">até 6 Páginas</label><br>
        <input type="radio" id="" name="sitepage" value="tenpage">
        <label for="Landing">de 7 à 10 Páginas</label><br>
        <input type="radio" id="" name="sitepage" value="twentypage">
        <label for="Landing">de 10 à 20 Páginas</label><br>
        <input type="radio" id="" name="sitepage" value="pluspage">
        <label for="Landing">acima de 20 Páginas</label><br><br>
        <button type="submit" name="submited">continuar <i class="fa-solid fa-arrow-right"></i></button>
</form>

</div>
</div>
</div>
