

<div class="container">
<div class="layout-two-cols">
<div> 
        <h2>ELEMENTOS ADICIONAIS EM SUA PÁGINA</h2>
</div>
<div>

    <form action="./orcamento" method="post">
        <input type="hidden" name="codForm" value="site-sections">
        
        <input type="checkbox" name="vehicle1" id="vehicle1" value="ban_est_img" checked>
        <label for="vehicle1"> Home com banner estático(img)</label><br>
        <input type="checkbox" name="vehicle2" id="vehicle2" value="ban_est_video">
        <label for="vehicle2"> Home com banner estático(vídeo)</label><br>
        <input type="checkbox" name="vehicle3" value="ban_slider_img">
        <label for="vehicle3"> Home com banner slider(img)</label><br>
        <input type="checkbox" name="vehicle3" value="ban_slider_vid">
        <label for="vehicle3"> Home com banner slider(vídeo)</label><br>
        <input type="checkbox" name="vehicle3" value="depoimentos">
        <label for="vehicle3"> Home com depoimentos</label><br>
        <input type="checkbox" name="vehicle3" value="galeria_fotos">
        <label for="vehicle3"> Home com galeria de fotos</label><br>
</div>
<div>
        <input type="checkbox" name="vehicle3" value="galeria_videos">
        <label for="vehicle3"> Home com galeria de videos</label><br>
        <input type="checkbox" name="vehicle3" value="sec_vid">
        <label for="vehicle3"> Home com seção de vídeo</label><br>
        <input type="checkbox" name="vehicle3" value="sec_equipe">
        <label for="vehicle3"> Home com seção da equipe</label><br>
        <input type="checkbox" name="vehicle3" value="sec_quem">
        <label for="vehicle3"> Home com seção "quem somos"</label><br>
        <input type="checkbox" name="vehicle3" value="sec_serv">
        <label for="vehicle3"> Home com seção "serviços"</label><br>
        <input type="checkbox" name="vehicle3" value="sec_prod">
        <label for="vehicle3"> Home com seção "produtos"</label><br>
        <input type="checkbox" name="vehicle3" value="form_contato">
        <label for="vehicle3"> Home com formulário de contacto</label><br><br>

        <button type="submit" name="submited">continuar <i class="fa-solid fa-arrow-right"></i></button>
</form>

<!-- GRUPO II 
Site com opção de agendamentos
Site com opção de pagamentos
Páginas internas com banner estático(img)
Páginas internas com banner slider(img)
Páginas internas com banner estático(vídeo)
Páginas internas com banner slider(vídeos)
Site com music player
Site com documentos PDF
Site com opção de downloads
Site com opção de uploads
Site com múltiplos usuários

FOOTER 
footer com 1 coluna
footer com 2 colunas
footer com 3 colunas
footer com 4 colunas -->

</div>
</div>
