

<div class="container">
<div class="layout-one-col">
<div> 
        <h2>COMO QUER AS SEÇÕES EM SUA PÁGINA PRINCIPAL?</h2>
</div>
<div>

    <form action="./orcamento" method="post">
        <input type="hidden" name="codForm" value="site-sections">
        <input type="radio" id="" name="sitesections" value="threesec" checked>
        <label for="Site">home com header, menu, footer + 3 seções</label><br>
        <input type="radio" id="" name="sitesections" value="foursec">
        <label for="Loja">home com header, menu, footer + 4 seções</label><br>
        <input type="radio" id="" name="sitesections" value="fivesec">
        <label for="Landing">home com header, menu, footer + 5 seções</label><br>
        <input type="radio" id="" name="sitesections" value="sixsec">
        <label for="Landing">home com header, menu, footer + 6 seções</label><br><br>
        <button type="submit" name="submited">continuar <i class="fa-solid fa-arrow-right"></i></button>
</form>


</div>
</div>
</div>